@import '../App.scss';

.projects {
  width: 100%;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;

  .transparent_div {
    width: 10px;
    height: 10px;
    margin-left: calc(50% - 5px);
    transform: translateY(-100px);

    @include tablet {
      transform: translateY(-120px);
    }
  }

  &_title {
    color: $color-primary;
    font-size: 2rem;
    margin: 0px 15px 30px 15px;
    text-shadow: 0px 0px 1px $color-shadow;
  }

  .carousel-slider {
    height: 500px;
    .slide {
      background: none;
    }
  }

  .github_description {
    font-size: 1rem;
    color: $color-primary;
    margin: 10px 30px;
    background-color: $color-secondary-light;
    padding: 20px 25px 5px;
    border-radius: 15% / 80%;
    box-shadow: 0px 1px 1px $color-shadow;

    @include tablet {
      font-size: 1.5rem;
    }
    .github_icon-link {
      padding: 10px;
      line-height: 4rem;
      transition: all 0.5s;

      &:hover {
        color: $color-white;
      }

      .github_icon {
        font-size: 3rem;
        margin-top: 10px;
        text-shadow: 0px 1px 1px $color-shadow;
      }
    }
  }
}
