@import '../../stylesheets/_reset.scss';
@import '../../stylesheets/_variables.scss';
@import '../../stylesheets/_mixins.scss';
@import '../App.scss';

.project {
  width: 320px;
  min-width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 20px calc(50% - 162px);
  scroll-snap-align: center;
  border: 1px solid $color-secondary;
  border-radius: 15px;
  box-shadow: 0px 1px 1px $color-shadow;

  @include tablet {
    margin: 20px;
  }

  &_img-Container {
    width: 100%;

    .project_img {
      border-radius: 5px;
      box-shadow: 0px 1px 1px $color-shadow;
    }
  }

  &_info {
    width: 90%;
    color: $color-black;

    .project_title {
      margin: 20px 0 10px;
    }

    .project_description {
      font-family: $font-secondary;
      text-align: justify;
      text-indent: 25px;
      margin: 10px 0;
    }

    .project_icons {
      display: flex;
      justify-content: space-between;
      width: 140px;
      margin-left: calc(50% - 70px);
      margin-top: 15px;
      margin-bottom: 10px;

      a {
        padding: 10px;
      }

      .fas {
        font-size: 2rem;
        color: $color-primary;
      }
    }
  }
}
