@import '../core/_reset.scss';
@import '../core/Variables.scss';
@import '../core/Mixins.scss';

.aboutme {
  color: $color-primary;
  background-color: $color-secondary-light;
  width: 100%;
  padding: 40px 0px;

  .transparent_div-am {
    width: 10px;
    height: 10px;
    margin-left: calc(50% - 5px);
    transform: translateY(-100px);
  }
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;

    .aboutme_title {
      font-size: 2rem;
      margin: 0px 15px 30px 15px;
    }

    .aboutme_img_animation-container {
      width: 100%;
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;

      .aboutme_img-container {
        position: absolute;
        width: 180px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0px 1px 2px 1px $color-shadow;
        margin: 30px 0px 50px;
        z-index: 1;

        .aboutme_img {
          max-width: 150%;
          width: 230px;
          object-position: calc(50% - 25px) calc(50% - 35px);
        }
      }

      .aboutme_animation {
        // left: calc(50% - 160px);
        display: block;
        width: 20em;
        height: 20em;
        animation: spin 20s linear infinite;
        z-index: 0;

        .circle {
          width: 10em;
          height: 10em;
          position: absolute;
          left: calc(50% - 5em);
          top: calc(50% - 10em);
          transform-origin: 50% 10em;
          border-radius: 50%;
          border-top: 0.1em solid rgba(255, 255, 255, 0.4);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
        }

        .one {
          background: rgba(16, 63, 236, 0.25);
          transform: rotateZ(225deg);
        }
        .two {
          background: rgba(37, 172, 162, 0.25);
          transform: rotateZ(180deg);
        }
        .three {
          background: rgba(233, 124, 32, 0.25);
          transform: rotateZ(135deg);
        }
        .four {
          background: rgba(235, 67, 35, 0.25);
          transform: rotateZ(90deg);
        }
        .five {
          background: rgba(190, 28, 65, 0.25);
          transform: rotateZ(45deg);
        }
        .six {
          background: rgba(208, 57, 159, 0.25);
          transform: rotateZ(0);
        }
        .seven {
          background: rgba(150, 32, 198, 0.25);
          transform: rotateZ(-45deg);
        }
        .eight {
          background: rgba(95, 33, 203, 0.25);
          transform: rotateZ(-90deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotateZ(0);
        }
        100% {
          transform: rotateZ(360deg);
        }
      }
    }
  }

  .aboutme_sm {
    display: flex;
    .ico_container {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $color-secondary;
      border-radius: 50%;
      padding: 25px;
      box-shadow: 0px 1px 3px 1px $color-primary;
      margin: 10px;

      &:hover {
        background-color: $color-primary;
        color: $color-white;
      }

      .fab {
        font-size: 1.75rem;
      }
    }
  }

  .aboutme_info {
    font-family: $font-main;
    font-size: 1.25rem;
    text-align: justify;
    text-indent: 50px;
    margin: 0px 15px;

    p {
      margin: 10px;

      .bold {
        font-weight: 700;
      }
    }
  }
}
