@import '../core/_reset.scss';
@import '../core/Variables.scss';
@import '../core/Mixins.scss';
@import './App.scss';

.footer {
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6acfa7b0;
  padding: 0px 20px;

  .fas {
    font-size: 2.5rem;
    color: $color-primary;
    text-shadow: 0px 1px 3px $color-shadow;
    padding: 10px;
    cursor: pointer;
  }

  .smalls_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .small {
      display: inline-block;
      line-height: 16px;
      color: $color-shadow;
      text-shadow: 0px 1px 2px $color-shadow;

      .fa-heart {
        font-size: 1rem;
        line-height: 16px;
        color: $color-tertiary;
        text-shadow: 0px 1px 2px $color-shadow;
        padding: 0px;
        animation: heartbeat 1s linear infinite;

        @keyframes heartbeat {
          0% {
            transform: scale(1);
          }
          25% {
            transform: scale(1.1);
          }
          40% {
            transform: scale(1);
          }
          60% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }
  }
}
