@import '../core/_reset.scss';
@import '../core/Variables.scss';
@import '../core/Mixins.scss';

.nav_container {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100vw;

  .nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6acfa7b0;
    padding: 0 15px;

    & li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      & a {
        width: 100%;
        font-size: 1rem;
        text-transform: uppercase;
        text-shadow: 0px 1px 3px $color-shadow;
      }
    }
  }
}
