@import '../core/_reset.scss';
@import '../core/Variables.scss';
@import '../core/Mixins.scss';

.nav_container {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;

  .nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6acfa7b0;
    padding: 0 22px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .fas {
        display: inline-block;
        font-size: 2rem;
        text-shadow: 0px 1px 3px $color-shadow;
      }

      .fa-bars {
        width: 32px;
      }
    }
  }
}
