@import '../core/_reset.scss';
@import '../core/Variables.scss';
@import '../core/Mixins.scss';
@import './App.scss';

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/aurora-green-l.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;

  &_title {
    font-size: 1.75rem;
    color: $color-secondary-light;
    text-shadow: 0px 1px 3px $color-shadow;

    &-name {
      display: inline-block;
      font-size: 2rem;
      color: $color-white;
      margin-top: 10px;
    }
  }

  &_description {
    display: inline-block;
    width: 270px;
    font-size: 1.75rem;
    color: $color-white;
    margin-top: 20px;
    text-shadow: 0px 1px 3px $color-shadow;
  }

  p {
    font-family: $font-secondary;
    font-size: 1.25rem;
    color: $color-secondary-light;
    margin-top: 20px;
    text-shadow: 0px 1px 3px $color-shadow;
  }

  .arrow_down {
    position: absolute;
    bottom: 10px;
    font-size: 3rem;
    animation-name: swing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes swing {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
