@import '../core/_reset.scss';
@import '../core/Variables.scss';
@import '../core/Mixins.scss';
@import './App.scss';

.projects {
  width: 100%;
  margin: 50px 0px;

  .transparent_div {
    width: 10px;
    height: 10px;
    margin-left: calc(50% - 5px);
    transform: translateY(-110px);
  }

  &_title {
    color: $color-primary;
    margin-bottom: 30px;
  }

  &_container {
    display: flex;
    overflow-x: scroll;
  }

  .github_description {
    font-size: 1.5rem;
    color: $color-primary;
    margin: 5px 10px;

    .github_icon {
      font-size: 3rem;
      margin-top: 5px;
    }
  }
}
