@import '../core/_reset.scss';
@import '../core/Variables.scss';
@import '../core/Mixins.scss';
@import './App.scss';

.projects {
  width: 100%;
  padding: 40px 0px;

  .transparent_div {
    width: 10px;
    height: 10px;
    margin-left: calc(50% - 5px);
    transform: translateY(-100px);
  }

  &_title {
    color: $color-primary;
    font-size: 2rem;
    margin: 0px 15px 30px 15px;
  }

  &_container {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    .blank_space {
      width: 20px;
      border: 1px solid rgb(255, 255, 255);
    }
  }

  .github_description {
    font-size: 1.5rem;
    color: $color-primary;
    margin: 10px 10px;
    background-color: $color-secondary-light;
    padding: 20px 15px 5px;
    border-radius: 15%;
    box-shadow: 0px 1px 1px $color-shadow;

    .github_icon-link {
      padding: 10px;
      line-height: 4rem;
      transition: all 0.5s;

      &:hover {
        color: $color-white;
      }

      .github_icon {
        font-size: 3rem;
        margin-top: 10px;
        text-shadow: 0px 1px 1px $color-shadow;
      }
    }
  }
}
