@import '../../stylesheets/_reset.scss';
@import '../../stylesheets/_variables.scss';
@import '../../stylesheets/_mixins.scss';
@import '../App.scss';

.fa-times {
  font-size: 8rem;
  color: red;
  text-shadow: 3px 3px 4px $color-shadow;
}
.thankyou_text {
  margin: 15px 25px 10px;
  font-size: 0.9rem;
}
.contact_form-btn {
  width: 150px;
  background-color: $color-secondary;
  color: $color-primary;
  font-size: 1.5rem;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid $color-secondary;
  transition: all ease 0.5s;
  padding: 10px;

  &:hover {
    background-color: $color-primary;
    border: 1px solid $color-secondary;
    color: $color-secondary-light;
  }
}
