@import '../../stylesheets/_reset.scss';
@import '../../stylesheets/_variables.scss';
@import '../../stylesheets/_mixins.scss';
@import '../App.scss';

.menu_aside {
  height: 160px;
  width: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #6acfa7b0;
  border-radius: 0px 0px 10px 0px;
  animation-name: menuDropDown;
  animation-duration: 0.3s;

  a,
  button {
    height: 60px;
    width: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .fas {
    font-size: 2rem;
    color: $color-primary;
    text-shadow: 0px 1px 3px $color-shadow;
    margin: 20px 0px;
    cursor: pointer;
  }

  .menu_btn-language {
    border: none;
    background-color: transparent;
  }
}

@keyframes menuDropDown {
  from {
    transform: translateY(-220px);
  }
  to {
    transform: translateY(0px);
  }
}
