@import '../../stylesheets/_reset.scss';
@import '../../stylesheets/_variables.scss';
@import '../../stylesheets/_mixins.scss';
@import '../App.scss';

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .input {
    width: 80%;
    background-color: #296647;
    color: $color-secondary;
    border: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;

    &::placeholder {
      color: $color-secondary-light;
    }
  }

  &-btn {
    width: 100px;
    background-color: $color-secondary;
    color: $color-primary;
    font-size: 1.5rem;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid $color-secondary;
    transition: all ease 0.5s;

    &:hover {
      background-color: $color-primary;
      border: 1px solid $color-secondary;
      color: $color-secondary-light;
    }
  }
}
