@import '../../stylesheets/_reset.scss';
@import '../../stylesheets/_variables.scss';
@import '../../stylesheets/_mixins.scss';
@import '../App.scss';

.header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  z-index: 50;

  @include tablet {
    height: 80px;
  }

  .nav_container {
    height: 100%;
    width: 100%;

    .nav {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #6acfa7e5;
      padding: 0 22px;

      .menu_icon {
        padding: 14px;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        a {
          padding: 14px;

          .fas {
            display: inline-block;
            width: 32px;
            font-size: 2rem;
            text-shadow: 0px 1px 3px $color-shadow;
          }
        }
        .fas {
          width: 32px;
          height: 32px;
          font-size: 2rem;
          text-shadow: 0px 1px 3px $color-shadow;
        }
      }
    }
  }
}
