/* Fonts*/
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

/* Colors*/

$color-primary: #1a402d;
$color-secondary: #6acfa7;
$color-tertiary: #d674df;
$color-secondary-light: #c0e0d3;
$color-black: #0c1512;
$color-white: #fbfffd;
$color-shadow: rgba(31, 31, 31, 0.7);

/* BREAKPOINTS */
$tablet: 768px;
$desktop: 1280px;
